# Summary of Reviews with Low Scores

Here we will summarize the topics that resulted from an analysis of the reviews that received the lowest ratings.

In [1]:
from student_voices import sv_utils as bn

db_root = 'D:/Student_Voices_Database/s3mirror/'
dta_root = 'C:/Projects/VirtualMachines/Student_Voices/svvm/Student_Voices/student_voices/data'

full_coherence_data = bn.loosen(db_root+'/results/full_coherence_data.pickle')

In [4]:
rng = '[0, 35)' # view for this range
top_n = 5 # show the top n models 
ctd = ['CS_Ave', 'CS_Med', 'CS_0.5','CS_0.54', 'CS_0.59'] # coherence to display 

for c in ctd: 
    print("Sort by",c)
    disp = full_coherence_data[full_coherence_data['Range']==rng].sort_values(c, ascending=False)
    display_html(HTML(disp.head(top_n).to_html()))

Sort by CS_Ave

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
134,"[0, 35)",LDA1,D1,27,0.528659,0.530090,0.629630,0.481481,0.185185,0.037037,0.0
386,"[0, 35)",LDA2,D1,27,0.521769,0.522501,0.592593,0.407407,0.222222,0.000000,0.0
636,"[0, 35)",LDA3,D1,21,0.520367,0.518780,0.666667,0.380952,0.142857,0.000000,0.0
133,"[0, 35)",LDA1,D1,24,0.520062,0.511843,0.541667,0.416667,0.166667,0.000000,0.0
638,"[0, 35)",LDA3,D1,27,0.516046,0.531554,0.592593,0.481481,0.185185,0.000000,0.0

Sort by CS_Med

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
638,"[0, 35)",LDA3,D1,27,0.516046,0.531554,0.592593,0.481481,0.185185,0.000000,0.0
134,"[0, 35)",LDA1,D1,27,0.528659,0.530090,0.629630,0.481481,0.185185,0.037037,0.0
386,"[0, 35)",LDA2,D1,27,0.521769,0.522501,0.592593,0.407407,0.222222,0.000000,0.0
636,"[0, 35)",LDA3,D1,21,0.520367,0.518780,0.666667,0.380952,0.142857,0.000000,0.0
823,"[0, 35)",LDA4,D1,15,0.503372,0.518592,0.533333,0.266667,0.133333,0.000000,0.0

Sort by CS_0.5

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
636,"[0, 35)",LDA3,D1,21,0.520367,0.518780,0.666667,0.380952,0.142857,0.000000,0.0
134,"[0, 35)",LDA1,D1,27,0.528659,0.530090,0.629630,0.481481,0.185185,0.037037,0.0
638,"[0, 35)",LDA3,D1,27,0.516046,0.531554,0.592593,0.481481,0.185185,0.000000,0.0
386,"[0, 35)",LDA2,D1,27,0.521769,0.522501,0.592593,0.407407,0.222222,0.000000,0.0
5,"[0, 35)",LDA1,A1,18,0.492053,0.506060,0.555556,0.166667,0.111111,0.000000,0.0

Sort by CS_0.54

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
638,"[0, 35)",LDA3,D1,27,0.516046,0.531554,0.592593,0.481481,0.185185,0.000000,0.0
134,"[0, 35)",LDA1,D1,27,0.528659,0.530090,0.629630,0.481481,0.185185,0.037037,0.0
131,"[0, 35)",LDA1,D1,18,0.511037,0.513954,0.555556,0.444444,0.111111,0.000000,0.0
133,"[0, 35)",LDA1,D1,24,0.520062,0.511843,0.541667,0.416667,0.166667,0.000000,0.0
386,"[0, 35)",LDA2,D1,27,0.521769,0.522501,0.592593,0.407407,0.222222,0.000000,0.0

Sort by CS_0.59

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
384,"[0, 35)",LDA2,D1,21,0.514660,0.498501,0.428571,0.333333,0.238095,0.000000,0.0
386,"[0, 35)",LDA2,D1,27,0.521769,0.522501,0.592593,0.407407,0.222222,0.000000,0.0
132,"[0, 35)",LDA1,D1,21,0.512183,0.504686,0.523810,0.333333,0.190476,0.000000,0.0
134,"[0, 35)",LDA1,D1,27,0.528659,0.530090,0.629630,0.481481,0.185185,0.037037,0.0
638,"[0, 35)",LDA3,D1,27,0.516046,0.531554,0.592593,0.481481,0.185185,0.000000,0.0

In [6]:
full_coherence_data['Range'].value_counts()

[95, 101)    135
[35, 60)     135
[65, 75)     135
[0, 35)      135
[75, 85)     135
[60, 65)     135
[85, 95)     135
Name: Range, dtype: int64

In [4]:
from student_voices import sv_utils as bn

db_root = 'D:/Student_Voices_Database/s3mirror/'
dta_root = 'C:/Projects/VirtualMachines/Student_Voices/svvm/Student_Voices/student_voices/data'

full_coherence_data = bn.loosen(db_root+'/results/full_coherence_data.pickle')

In [5]:
full_coherence_data

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
0,"[0, 35)",LDA1,A1,3,0.441746,0.449341,0.000000,0.000000,0.000000,0.0,0.0
1,"[0, 35)",LDA1,A1,6,0.470126,0.454325,0.333333,0.166667,0.000000,0.0,0.0
2,"[0, 35)",LDA1,A1,9,0.475599,0.464816,0.333333,0.222222,0.000000,0.0,0.0
3,"[0, 35)",LDA1,A1,12,0.482984,0.478529,0.166667,0.166667,0.083333,0.0,0.0
4,"[0, 35)",LDA1,A1,15,0.488643,0.486013,0.266667,0.200000,0.133333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
940,"[95, 101)",LDA4,E1,15,0.441576,0.427052,0.066667,0.066667,0.066667,0.0,0.0
941,"[95, 101)",LDA4,E1,18,0.440182,0.417221,0.166667,0.111111,0.111111,0.0,0.0
942,"[95, 101)",LDA4,E1,21,0.440204,0.422319,0.190476,0.095238,0.047619,0.0,0.0
943,"[95, 101)",LDA4,E1,24,0.451592,0.439890,0.208333,0.125000,0.041667,0.0,0.0
944,"[95, 101)",LDA4,E1,27,0.439119,0.427140,0.148148,0.111111,0.074074,0.0,0.0